"*":
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
    useSnippets: true
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    disabledPackages: [
      "whitespace"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: [
      "lorem"
    ]
    telemetryConsent: "no"
    useProxySettingsWhenCallingApm: false
  editor:
    fontSize: 18
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "b735210a-54c6-7137-dea6-95044ac0dd93"
  "linter-ui-default":
    showPanel: true
  lorem:
    defaults:
      isWrapped: false
      showHelp: true
  "markdown-preview":
    useGitHubStyle: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierOptions:
      singleQuote: true
    useEslint: true
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    keepMarkdownLineBreakWhitespace: false
